body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f1f5f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  padding: 15px 0;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  margin-bottom: 30px;
  background-color: white;
  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__left {
      .profile__info {
        display: flex;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
    }

    .navbar__right {
      .logout {
        padding: 8px 15px;
        border-radius: 5px;
        border: 1px solid rgb(216, 216, 216);
        cursor: pointer;
        transition: all 0.5s ease;
        box-shadow: 0 0 5px gainsboro;
        &:hover {
          background-color: #178795;
          color: white;
        }
      }
    }
  }
}

.search {
  margin-bottom: 30px;
  .search__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .search__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      border: 1px solid rgb(216, 216, 216);
      border-radius: 5px;
      overflow: hidden;
      @media (max-width: 991px) {
        width: 70%;
      }
      input {
        width: 85%;
        padding: 10px;
        border: none;
        outline: none;
      }
      button {
        width: 15%;
        padding: 10px 15px;
        border: none;
        background-color: #178795;
        color: white;
        cursor: pointer;
        @media (max-width: 991px) {
          width: 30%;
        }
      }
    }
  }
}

.loading {
  .loading__icon svg {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    display: block;
    fill: #178795;
    animation: rotating 3s infinite linear;
  }
}

.info {
  margin-bottom: 50px;
  .info__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .info__card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 20%;
      padding: 15px;
      margin-bottom: 30px;
      border-radius: 10px;
      box-shadow: 0 3px 5px rgb(212, 212, 212);
      background-color: white;
      @media (max-width: 991px) {
        width: 40%;
      }
      .info__icon svg {
        width: 30px;
        height: 30px;
        fill: red;
      }
      .info__name {
        p {
          color: gray;
        }
      }
      &:first-of-type .info__icon svg {
        fill: rgb(248, 70, 0);
      }
      &:nth-of-type(2) .info__icon svg {
        fill: rgb(0, 113, 128);
      }
      &:nth-of-type(3) .info__icon svg {
        fill: rgb(128, 0, 122);
      }
      &:nth-of-type(4) .info__icon svg {
        fill: rgb(246, 222, 2);
      }
    }
  }
}

.profile {
  margin-bottom: 50px;
  width: 100%;
  .profile__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .profile__user {
      position: relative;
      width: 45%;
      padding: 15px;
      margin-bottom: 100px;
      background-color: white;
      box-shadow: 2px 2px 5px rgb(212, 212, 212);
      &::before {
        content: "USER";
        position: absolute;
        padding: 15px;
        left: 0;
        top: -40px;
        background-color: white;
      }
      @media (max-width: 991px) {
        width: 90%;
      }
      .profile__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .profile__img {
          width: 70px;
          height: 70px;
          margin-right: 15px;
          border-radius: 50%;
        }
      }
      .profile__bio {
        margin-bottom: 20px;
      }

      .profile__bottom {
        div {
          display: flex;
          align-items: center;
          margin-bottom: 7px;
          color: rgb(72, 103, 139);
          svg {
            margin-right: 15px;
          }
        }
      }
    }

    .profile__followers-warpper {
      position: relative;
      width: 45%;
      margin-bottom: 20px;
      background-color: white;
      box-shadow: 2px 2px 5px rgb(212, 212, 212);
      &::before {
        content: "FOLLOWERS";
        position: absolute;
        padding: 15px;
        left: 0;
        top: -40px;
        background-color: white;
      }
      @media (max-width: 991px) {
        width: 90%;
      }
    }
    .profile__followers {
      overflow: auto;
      max-height: 250px;
      padding: 15px;
      .profile__follower {
        display: flex;
        margin-bottom: 25px;
        .follower__img {
          width: 40px;
          height: 40px;
          margin-right: 15px;
          border-radius: 50%;
        }
        .follower__link {
          text-decoration: none;
          color: gray;
        }
      }
      .profile__followers-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        svg {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          color: red;
        }
      }
    }
  }
}

.error {
  .error__msg {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 25px;
      height: 25px;
      fill: rgb(141, 2, 2);
    }
  }
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://th.bing.com/th/id/R.d078968bc905921e539a6f954e1e2ca1?rik=PsyWf%2bdbvd8Jiw&pid=ImgRaw&r=0");
  background-size: cover;
  .login-page__content {
    color: white;
    text-align: center;
    font-weight: normal;
    .login-page__header {
      margin-bottom: 30px;
    }
    .login-page__button {
      padding: 15px 25px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      color: white;
      background-color: #178795;
      box-shadow: 0 0 2px rgb(219, 219, 219);
      &:hover {
        color: white;
      }
    }
  }
}

.notFound-page {
  width: 100%;
  height: 100vh;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9d12393f-e0ec-4afe-85ea-07c93c7d5c69/d5jrm8a-8fc8fa5b-db8f-47bf-948c-010a1daaddfc.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlkMTIzOTNmLWUwZWMtNGFmZS04NWVhLTA3YzkzYzdkNWM2OVwvZDVqcm04YS04ZmM4ZmE1Yi1kYjhmLTQ3YmYtOTQ4Yy0wMTBhMWRhYWRkZmMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9sTv4CzsMfDDk_Ghtmmb2LDyyOuPvNTCNClAkFkhKUw");
  background-size: cover;
  background-position-y: center;

  .notFound-page__button {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #333039;
    background-color: #cecbbb;
    box-shadow: 0 0 2px rgb(219, 219, 219);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
